
.menu {
    position: fixed; /* posição do menu fixado no top*/
    top: 0; /* colado em cima*/
    left: 0; /*colado na esquerda*/
    right: 0; /*colado na direita*/
    width: 100%; /* 100% de largura da pagina*/
    z-index: 1; /*barra de menu em cima da pagina*/
    border-bottom: 0.1rem solid var(--light-gray-color); /* borda de baixo*/
}

.menu-content {
    display: flex; /*conteudo flexivel*/
    justify-content: space-between; /*eixo do conteudo para horizontal*/
    align-items: center; /*alinhar elemento no center*/
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none; /* tirar as bolinhas antes da palavra*/
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after { /*colocando uma borda no menu, quando vai o mouse em cima*/
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}