* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    padding: 15px;
}
.grid::after{ /* criei um elemento na grid, para limpar as laterais da classe grid*/
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    box-sizing: border-box;
    width: 33.33%;
    height: 300px;
    float: left; /* flutua a div para esquerda*/
    padding: 15px;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    background: red;
}

p {
    clear: both; /*vai limpar dos dois lados */
    /*clear: left;  No paragrafo, vai limpar tudo que tem a esquerda*/
}

@media (max-width: 568px) { /*Telas mobile a baixo de 320px, tera essa configuração na class escolhida*/
    .grid .col {
        width: 100%;
    }
}

@media (min-width: 569px) and (max-width: 768px) { /*Entre 321px e 768px, tera 2 colunas, a mais volta configuração normal*/
    .grid .col {
        width: 50%;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .grid .col {
        width: 33.33%;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .grid .col {
        width: 33.33%;
    }
}
@media (min-width: 1201px) {
    .grid .col {
        width: 25%;
    }
}