*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    background: yellow;
    height: 500px;
    display: -inline-flex; /* flex (flexivel)*/
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
}

.flex-item { 
    color: #fff;
    background: red;
    margin: 10px;
}